@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, orange, yellow);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
}


.container {
    margin: auto;
    width: 400px;
    height: fit-content;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    overflow-wrap: break-word;
}

.cabecalho {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.lista {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

div > h1 {
    text-align: center;
    padding: 8px;
}

#textoTarefa {
    padding: 6px;
    margin-right: 5px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    border: none;
}

#botaoAdicionar, #botaoLimpar {
    padding: 7px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    cursor: pointer;
}

#botaoAdicionar {
    background-color: rgb(70, 156, 255);
    transition: background-color ease-in-out 0.3s;
}

.material-symbols-outlined {
    background-color: white;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#botaoAdicionar:hover {
    background-color: rgb(125, 186, 255);
}

#botaoLimpar {
    margin: auto;
    background-color: rgb(255, 69, 69);
    transition: background-color ease-in-out .3s;
}

#botaoLimpar:hover {
    background-color: rgb(252, 121, 121);
}

ul {
    list-style: none;
    margin: 8px;
    line-height: 1.4em;
}

li {
    box-sizing: border-box;
    width: 100%;
    margin: 2px;
    word-break: break-word;
    display: flex;
    justify-content: space-between;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    gap: 5px;
    width: 220px;
    border-radius: 10px;
    padding: 2px 20px;
}

.label.checked, .botaoRemover.checked {
    background-color: #0075FF;
}

.label.checked:hover, .label.checked:hover button {
    background-color: #005CC8;
}

.botaoRemover {
    border: none;
    cursor: pointer;
}

.label:hover, .label:hover button {
    background-color: #c2c2c2;
    transition: background-color ease-in-out 0.3s;
}

.checkbox {
    height: 20px;   
    width: 20px;
}